[Desktop Entry]
Icon=unknown
Name=https://stackoverflow.com/questions/3846935/how-to-change-page-from-within-javascript
Type=Link
URL[$e]=https://stackoverflow.com/questions/3846935/how-to-change-page-from-within-javascript
