[Desktop Entry]
Icon=unknown
Name=https://blog.seoprofiler.com/google-we-will-not-follow-javascript-links/
Type=Link
URL[$e]=https://blog.seoprofiler.com/google-we-will-not-follow-javascript-links/
